@charset "UTF-8";

/*tablet1*/
@media (max-width: 1024px) {
	body{}
	.top_nav{width: 94vw;}
	.full_nav_container{bottom: 10vh; left: 10vw}
	.full_nav_container ul li{font-size: 4.96rem; margin-bottom: 7%}
	
	.about_title, .project_title, .contact_title{font-size: 2.72rem}
	
	/*about*/
	.about_contents{width: 90vw;}
	.about_img{}
	.about_text{width: 320px;}
	.about_text h3{font-size: 1.28rem}
	.about_text p{font-size: 0.92rem}
	
	/*project*/
	.project_subtitle li a{font-size: 1.12rem}
	.popup_contents div{background-size: contain; background-position: center center; background-repeat: no-repeat; width: 960px; height: 630px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.8);}
	.button_wrap{width: 800px;}
	
	/*contact me*/
	.contact_object{width: 640px;}
	.circle_zone{width: 160px; height: 160px;}
	.circle{width: 160px; height: 160px;}
	.wave{width: 160px; height: 160px;}
	
	.trangle_zone_wrap{width: 200px; height: 240px;}
	.tran_z{width: 200px; height: 160px; position: relative;}
	.trangle_zone svg{width: 200px; height: 160px; position: relative;}
	.trangle1{display: none}
	.trangle2{display: block; width: 200px; height: 160px;}
	.t_wave{width: 80px; height: 80px;}
	.t_wave.t_wave.t_wave.t_wave::after, .t_wave.t_wave.t_wave::before{content: ""; position: absolute; top: 110%; left: 120%; width: 500%; height: 500%; transform: translate3d(-50%, -86%, 0) rotate(0deg) scale(1)}
	.trangle_zone .tran_z:hover .wave{transform: translate3d(0, -200%, 0);}
	.contact .contact_info_title{font-size: 1.2rem; line-height: 1;}
	.contact .contact_info{font-size: 1.04rem; line-height: 1.4}
	.contact .contact_info.mail_adress{font-size: 1.04rem; line-height: 1.4}
	
	.circle_zone_wrap{width: 160px; height: 240px;}
	.trangle_zone_wrap{width: 200px; height: 240px;}
}

/*tablet2*/
@media (max-width: 768px) {
	body{}
	.top_nav{width: 94vw;}
	.full_nav_container{top: 40vh; left: 10vw}
	.full_nav_container ul li{font-size: 3.36rem; margin-bottom: 13%}
	.intro_text{font-size: 3.84rem}
	.typed-cursor{font-size: 3.2rem}
	
	.aside{display: none}
	
	.about_title, .project_title, .contact_title{font-size: 2rem;}
	.open_menu{width: 30px;}
	
	/*project*/
	.project_subtitle li a{font-size: 1.04rem}
	.popup_contents div{background-size: contain; background-position: center center; background-repeat: no-repeat; width: 960px; height: 630px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.6);}
	.button_wrap{width: 600px;}
	.button_wrap li{font-size: 1.5rem}
	
	/*about*/
	.about{overflow: hidden}
	.about_contents{width: 90vw; padding-top: 0; display: flex; flex-direction: column; align-items: center; justify-content: space-between}
	.about_img{transform: scale(0.6); margin-top: -56px}
	.about_text{text-align: center; position: static; margin-top: -256px; height: 320px}
	.about_text h3{font-size: 1.2rem; line-height: 1.9}
	.about_text p{font-size: 0.92rem; line-height: 1.4}
	
	/*contact me*/
	.contact_object{width: 280px; height: 640px; flex-flow: column nowrap; margin-top: -25vh; justify-content: space-around; padding: 32px 0 0 0; box-sizing: border-box}
	.circle_zone{width: 136px; height: 136px;}
	.circle{width: 136px; height: 136px;}
	.wave{width: 136px; height: 136px;}
	.t_wave{width: 32px; height: 32px;}
	
	.tran_z{width: 160px; height: 128px; position: relative;}
	.trangle_zone svg{width: 160px; height: 128px; position: relative;}
	.trangle1{display: none}
	.trangle2{display: none}
	.trangle3{display: block; width: 160px; height: 128px;}
	.t_wave.t_wave.t_wave.t_wave::after, .t_wave.t_wave.t_wave::before{content: ""; position: absolute; top: 240%; left: 250%; width: 850%; height: 850%; transform: translate3d(-50%, -86%, 0) rotate(0deg) scale(1)}
	.trangle_zone .tran_z:hover .wave{transform: translate3d(0, -390%, 0);}
	.contact .contact_info_title{font-size: 1.2rem; line-height: 1}
	.contact .contact_info{font-size: 0.96rem}
	
	.circle_zone_wrap{width: 136px; height: 176px;}
	.trangle_zone_wrap{width: 160px; height: 176px;}
	.contact .contact_info_title{font-size: 1.12rem; line-height: 1; font-family: m-bold}
	
	.contact .contact_info{font-size: 0.96rem; line-height: 1.4}
	.contact .contact_info.mail_adress{font-size: 0.96rem; line-height: 1.4}
}

/*mobile*/
@media (max-width: 415px) {
	body{}
	.top_nav{width: 94vw;}
	.full_nav_container{top: 30vh; left: 8vw}
	.full_nav_container ul li{font-size: 3rem; margin-bottom: 18%}
	.intro_text{font-size: 2.4rem}
	.typed-cursor{font-size: 2.8rem}
	
	#header{height: 48px;}
	.top_nav{top: -1vh}
	.logo_area{width: 72px;}
	.logo_area{left: 50%; transform: translate(-50%); height: 48px;}
	.open_menu{margin-top: 14px;}
	.open_menu span{margin-bottom: 4px;}
	
	.aside{display: none}
	
	.about_title, .project_title, .contact_title{font-size: 1.76rem; margin-top: -2vh}
	
	/*project*/
	.project_subtitle li a{font-size: 1.04rem}
	.popup_contents div{background-size: contain; background-position: center center; background-repeat: no-repeat; width: 960px; height: 630px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.35);}
	.button_wrap{width: 390px;}
	.button_wrap li{font-size: 1rem}
	
	/*about*/
	.about_contents{width: 90vw; padding-top: 0; display: flex; flex-direction: column; align-items: center; justify-content: space-between}
	.about_img{transform: scale(0.5); margin-top: -64px}
	.about_text{text-align: center; position: static; margin-top: -256px; height: 320px;}
	.about_text h3{font-size: 1.08rem; line-height: 2}
	.about_text p{font-size: 0.88rem; line-height: 1.4}
	
	/*project*/
	.project_subtitle li a{font-size: 0.92rem}
	.project_zone_wrap{width: 70vw}
	.project_subtitle{width: 60vw;}
	
	/*contact me*/
	.contact_object{width: 280px; height: 560px; padding: 32px 0 0 0; box-sizing: border-box;}
	.circle_zone{width: 112px; height: 112px;}
	.circle{width: 112px; height: 112px;}
	.wave{width: 112px; height: 112px;}
	.t_wave{width: 32px; height: 32px;}
	
	.tran_z{width: 136px; height: 112px; position: relative;}
	.trangle_zone svg{width: 136px; height: 112px; position: relative;}
	.trangle1{display: none}
	.trangle2{display: none}
	.trangle3{display: none}
	.trangle4{display: block; width: 136px; height: 112px;}
	.t_wave.t_wave.t_wave.t_wave::after, .t_wave.t_wave.t_wave::before{content: ""; position: absolute; top: 200%; left: 220%; width: 850%; height: 850%; transform: translate3d(-50%, -86%, 0) rotate(0deg) scale(1)}
	.trangle_zone .tran_z:hover .wave{transform: translate3d(0, -390%, 0);}
	
	.circle_zone_wrap{width: 112px; height: 152px;}
	.trangle_zone_wrap{width: 136px; height: 152px;}
	.contact .contact_info_title{font-size: 1.04rem; line-height: 1; font-family: m-bold}
	
	.contact .contact_info{font-size: 0.92rem; line-height: 1.4}
	.contact .contact_info.mail_adress{font-size: 0.92rem; line-height: 1.4}
}