@charset "UTF-8";

/*tablet1*/
@media (max-width: 1024px) {
	body{background: red}
	.top_nav{width: 94vw;}
	.full_nav_container{bottom: 10vh; left: 10vw}
	.full_nav_container ul li{font-size: 6.5rem; margin-bottom: 7%}
	
	.about_title, .project_title, .contact_title{font-size: 3.4rem}
	.project_subtitle li a{font-size: 1.4rem}
	
	/*contact me*/
	.contact_object{width: 800px;}
	.circle_zone{width: 200px; height: 200px;}
	.circle{width: 200px; height: 200px;}
	.wave{width: 200px; height: 200px;}
	
	.trangle_zone_wrap{width: 250px; height: 300px;}
	.tran_z{width: 250px; height: 200px; position: relative;}
	.trangle_zone svg{width: 250px; height: 200px; position: relative;}
	.trangle1{display: none}
	.trangle2{display: block; width: 250px; height: 200px;}
	.t_wave{width: 100px; height: 100px;}
	.t_wave.t_wave.t_wave.t_wave::after, .t_wave.t_wave.t_wave::before{content: ""; position: absolute; top: 110%; left: 120%; width: 500%; height: 500%; transform: translate3d(-50%, -86%, 0) rotate(0deg) scale(1)}
	.trangle_zone .tran_z:hover .wave{transform: translate3d(0, -200%, 0);}
	.contact .contact_info_title{font-size: 1.5rem; line-height: 1;}
	.contact .contact_info{font-size: 1.3rem; line-height: 1.4}
	.contact .contact_info.mail_adress{font-size: 1.3rem; line-height: 1.4}
	
	.circle_zone_wrap{width: 200px; height: 300px;}
	.trangle_zone_wrap{width: 250px; height: 300px;}
}

/*tablet2*/
@media (max-width: 768px) {
	body{background: yellow}
	.top_nav{width: 94vw;}
	.full_nav_container{top: 30vh; left: 10vw}
	.full_nav_container ul li{font-size: 5rem; margin-bottom: 15%}
	.intro_text{font-size: 5rem}
	.typed-cursor{font-size: 4rem}
	
	.aside{display: none}
	
	.about_title, .project_title, .contact_title{font-size: 2.5rem}
	.open_menu{width: 30px;}
	.project_subtitle li a{font-size: 1.3rem}
	
	/*contact me*/
	.contact_object{width: 350px; height: 800px; flex-flow: column nowrap;margin-top: -20vh; justify-content: space-around; padding: 30px 0 0 0; box-sizing: border-box}
	.circle_zone{width: 170px; height: 170px;}
	.circle{width: 170px; height: 170px;}
	.wave{width: 170px; height: 170px;}
	.t_wave{width: 40px; height: 40px;}
	
	.tran_z{width: 200px; height: 160px; position: relative;}
	.trangle_zone svg{width: 200px; height: 160px; position: relative;}
	.trangle1{display: none}
	.trangle2{display: none}
	.trangle3{display: block; width: 200px; height: 160px;}
	.t_wave.t_wave.t_wave.t_wave::after, .t_wave.t_wave.t_wave::before{content: ""; position: absolute; top: 240%; left: 250%; width: 850%; height: 850%; transform: translate3d(-50%, -86%, 0) rotate(0deg) scale(1)}
	.trangle_zone .tran_z:hover .wave{transform: translate3d(0, -390%, 0);}
	.contact .contact_info_title{font-size: 1.5rem; line-height: 1}
	.contact .contact_info{font-size: 1.2rem}
	
	.circle_zone_wrap{width: 170px; height: 220px;}
	.trangle_zone_wrap{width: 200px; height: 220px;}
	.contact .contact_info_title{font-size: 1.4rem; line-height: 1; font-family: m-bold}
	
	.contact .contact_info{font-size: 1.2rem; line-height: 1.4}
	.contact .contact_info.mail_adress{font-size: 1.2rem; line-height: 1.4}
}

/*mobile*/
@media (max-width: 415px) {
	body{background: green}
	.top_nav{width: 94vw;}
	.full_nav_container{top: 30vh; left: 8vw}
	.full_nav_container ul li{font-size: 3rem; margin-bottom: 18%}
	.intro_text{font-size: 3rem}
	.typed-cursor{font-size: 3.5rem}
	
	#header{height: 60px;}
	.top_nav{top: -1vh}
	.logo_area{width: 90px;}
	.logo_area{left: 50%; transform: translate(-50%); height: 60px;}
	.open_menu{margin-top: 18px;}
	.open_menu span{margin-bottom: 5px;}
	
	.aside{display: none}
	
	.about_title, .project_title, .contact_title{font-size: 2.2rem; margin-top: -4vh}
	
	/*contact me*/
	.contact_object{width: 350px; height: 700px; padding: 30px 0 0 0; box-sizing: border-box;}
	.circle_zone{width: 140px; height: 140px;}
	.circle{width: 140px; height: 140px;}
	.wave{width: 140px; height: 140px;}
	.t_wave{width: 40px; height: 40px;}
	
	.tran_z{width: 170px; height: 140px; position: relative;}
	.trangle_zone svg{width: 170px; height: 140px; position: relative;}
	.trangle1{display: none}
	.trangle2{display: none}
	.trangle3{display: none}
	.trangle4{display: block; width: 170px; height: 140px;}
	.t_wave.t_wave.t_wave.t_wave::after, .t_wave.t_wave.t_wave::before{content: ""; position: absolute; top: 200%; left: 220%; width: 850%; height: 850%; transform: translate3d(-50%, -86%, 0) rotate(0deg) scale(1)}
	.trangle_zone .tran_z:hover .wave{transform: translate3d(0, -390%, 0);}
	
	.circle_zone_wrap{width: 140px; height: 190px;}
	.trangle_zone_wrap{width: 170px; height: 190px;}
	.contact .contact_info_title{font-size: 1.3rem; line-height: 1; font-family: m-bold}
	
	.contact .contact_info{font-size: 1.15rem; line-height: 1.4}
	.contact .contact_info.mail_adress{font-size: 1.15rem; line-height: 1.4}
}